<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Eldoret City Center Parking</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon">
</head>
<body>
   <%- include("_header.ejs") %>
    <main>
        <section>
        <h1>Profile</h1>
        <br>
        <h2>Personal Information</h2> 
        <h3> <%= locals.user.fullname %> </h3>
        <h3>  <%= locals.user.email %>  </h3>
        <h3>  <%= locals.user.phone %>  </h3>
    </section>
    <section>
        <h2>Active Booking</h2>
        <div class="active">
            <p>You currently not parked with us!</p>
        </div>
    </section>
    <section>
        <h2>Booking History</h2>
    </section>
    </main>
    <%- include("_footer.ejs") %>
</body>
</html>